body{
    background-color: cadetblue;
    font:600;
}


.container{
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 80px auto 100px;
    grid-template-areas: 
    
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}


.main{
    grid-area: main;
    display: grid;
   
}


.header{
    grid-area: header;
    text-align: center;
    background-color: bisque;
    margin: 30px

}


.footer{
    grid-area: footer;
    background-color: bisque;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 30px;
}


.nav{
grid-area: nav;
background-color: green;
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr;
margin: 30px;
}


article{
    padding: 7px;
}


   
   



.om-bandet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: main;
    
}

.om-bandetbild{
width: 360px;
    
}



.grupp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: main;
        
}

.gruppbild{
    size: 500px;
    
        
}

.picg{
width: 100px;
}



.songs{
    display: grid;
}
